<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <meta charset="UTF-8">
    <title>Отчёт по доходности</title>
</head>
<body>
<div class="col-xs-12" style="margin-top: 50px;">
    <div class="col-xs-8">
        <div class="col-xs-12"><h1 class="text-warning"> Фильтрация</h1></div>
        <div class="col-xs-5">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" type="button" id="subsidiaryMenu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Филиал
                        <span class="caret"></span>
                    </button>
                    <ul id="subsidiaryList" class="dropdown-menu" aria-labelledby="subsidiaryMenu">
                        <li value="">Не выбран</li>
                    </ul>
                </div>
                <input id="subsidiaryView" type="text" class="form-control disabled" disabled="true"
                       aria-label="subsidiaryMenu">
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" type="button" id="locoMenu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        Серия Вагона
                        <span class="caret"></span>
                    </button>
                    <ul id="locoList" class="dropdown-menu" aria-labelledby="locoMenu">
                        <li value="">Не выбран</li>
                    </ul>
                </div>
                <input id="locoView" type="text" class="form-control" disabled="true" aria-label="locoMenu">
            </div>
        </div>
        <div class="col-xs-2">
            <button onclick="addFilter()" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Добавить в отчёт
            </button>
        </div>
        <div class="col-xs-3">
            <ul id="listsFilters" class="list-group"></ul>
        </div>
        <div class="col-xs-12" style="margin-top: 20px;"><h1 class="text-warning"> Отчётный период</h1></div>
        <div class="col-xs-2">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" type="button" id="startYearMenu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        От:
                        <span class="caret"></span>
                    </button>
                    <ul id="startYearList" class="dropdown-menu" aria-labelledby="startYearMenu">
                        <li value="">Не выбран</li>
                    </ul>
                </div>
                <input id="startYear" type="text" class="form-control" disabled="true" aria-label="startYearMenu">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" type="button" id="endYearMenu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        До:
                        <span class="caret"></span>
                    </button>
                    <ul id="endYearList" class="dropdown-menu" aria-labelledby="endYearMenu">
                        <li value="">Не выбран</li>
                    </ul>
                </div>
                <input id="endYear" type="text" class="form-control" disabled="true" aria-label="endYearMenu">
            </div>
        </div>
        <div class="col-xs-2">
            <button onclick="getStats()" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-signal"></span> Построить
            </button>
        </div>
        <div class="col-xs-12">
            <canvas id="chartProfit" width="600" height="300"></canvas>
        </div>
    </div>
</div>
<style>
    ul > li {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    let locomotives = {};
    let subsidiaries = {};
    let filters = [];
    let filter = {};
    let timeRange = {};

    let chart = null;
    let ctx = document.getElementById('chartProfit').getContext('2d');

    function getStats() {
        let body = {filters: [...filters]};
        body['time_range'] = {...timeRange};
        let requestStat = $.ajax({
            url: 'http://{{ host }}/get_stats/',
            type: 'POST',
            data: JSON.stringify(body),
            headers: {
                'Access-Control-Allow-Origin': '*',
            }
        });

        requestStat.done(function (data) {
            let dataset = {
                label: 'profit by year',
                data: data.stats
            };

            if (chart != null) {
                chart.destroy();
            }

            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [dataset]
                }
            });
        });
    }

    function rebuildFilterList() {
        $("#listsFilters li").remove();
        filters.forEach((f) => {
            let subName = subsidiaries[f['subsidiary_id']];
            let locoName = locomotives[f['locomotive_id']];
            subName = subName ? subName.name: null;
            locoName = locoName ? locoName.series: null;
            let view = '';
            if (subName) view += subName;
            if (locoName) view += view?` ${locoName}`:locoName;
            let argRemove = JSON.stringify(f);
            let filterView = `<li class="list-group-item">
                <span onclick='removeFilter(${argRemove})' class="glyphicon glyphicon-remove"></span> ${view}
                </li> `;
            $("#listsFilters").append(filterView);
        });
    }

    function removeFilter(filterJson) {
        filters.splice(filters.findIndex((f) => { return JSON.stringify(f) === JSON.stringify(filterJson)}), 1);
        rebuildFilterList();
    }

    function addFilter() {
        let findedFilter = filters.find((f)=> { return JSON.stringify(f) === JSON.stringify(filter)});
        if (!findedFilter) {
            filters.push({...filter});
            let subName = subsidiaries[filter['subsidiary_id']];
            let locoName = locomotives[filter['locomotive_id']];
            subName = subName ? subName.name: null;
            locoName = locoName ? locoName.series: null;
            let view = '';
            if (subName) view += subName;
            if (locoName) view += view?` ${locoName}`:locoName;
            let argRemove = JSON.stringify(filter);
            let filterView = `<li class="list-group-item">
                <span onclick='removeFilter(${argRemove})' class="glyphicon glyphicon-remove"></span> ${view}
                </li> `;
            $("#listsFilters").append(filterView);
        }
    }

    function selectLoco(locoId) {
        if (locoId) {
            filter['locomotive_id'] = locoId;
            $("#locoView").val(locomotives[locoId].series);
        } else {
            delete filter['locomotive_id'];
            $("#locoView").val('Для всех локомотивов');
        }
    }

    function setLocoList(locoIds) {
        selectLoco(null);
        $("#locoList .source").remove();
        if (typeof locoIds === "object" && locoIds.length > 0)
            locoIds.forEach((locoId) => {
                $("#locoList").append(`<li value="${locoId}" class="source">${locomotives[locoId].series}</li>`);
            });

        $("#locoList li").click(function () {
            let a = $(this).attr("value");
            selectLoco(a);
        });
    }

    function selectSubsidiary(subId) {
        if (subId) {
            filter['subsidiary_id'] = subId;
            $("#subsidiaryView").val(subsidiaries[subId].name);
            setLocoList(subsidiaries[subId]['locomotives']);
        } else {
            delete filter['subsidiary_id'];
            $("#subsidiaryView").val('Для всех филиалов');
            setLocoList(Object.keys(locomotives));
        }
    }


    function setSubsidiary() {
        Object.keys(subsidiaries).forEach((subId) => {
            $("#subsidiaryList").append(
                `<li value="${subId}" class="source">${subsidiaries[subId].name}</li>`
            );
        });
        $("#subsidiaryList li").click(function () {
            let a = $(this).attr("value");
            selectSubsidiary(a);
        });
    }

    function selectYear(type, year) {
        if (type === 'start') {
            if (!year) {
                delete timeRange['year__gte'];
            } else {
                timeRange['year__gte'] = year;
            }
            $("#startYear").val(year);
        } else {
            if (!year) {
                delete timeRange['year__lte'];
            } else {
                timeRange['year__lte'] = year;
            }
            $("#endYear").val(year);
        }
    }

    function setYears(minYear, maxYear) {
        if (minYear && maxYear) {
            for (let i = minYear; i <= maxYear; i++) {
                $("#endYearList").append(`<li value=${i}>${i}</li>`);
                $("#startYearList").append(`<li value=${i}>${i}</li>`);
            }
            $("#endYearList li").click(function () {
                let a = $(this).attr("value");
                selectYear('end', a);
            });
            $("#startYearList li").click(function () {
                let a = $(this).attr("value");
                selectYear('start', a);
            });
        }

    }


    function main() {
        let request = $.ajax({
            url: 'http://{{ host }}/get_info/',
            headers: {
                'Access-Control-Allow-Origin': '*',
            }
        });
        request.done(function (data) {
            locomotives = data['loco'];
            subsidiaries = data['subsidiary'];
            // create default control value
            setSubsidiary();
            setLocoList(Object.keys(locomotives));
            setYears(data['min_year'], data['max_year']);
        });
    }

    main();

</script>
</body>
</html>